@import './src/assets/scss/main/_color-variables.scss';
@import './src/assets/scss/main/_size-variables.scss';

.form-holder{
  background-color: $dark-brick;
  width: 40%;
  float: right;
  border-radius: 15px;
  margin: 20px;
}

.contact-holder {
  margin: 15px;
  pedding: 15px;
  a {
    font-size: 20px;
  }
}

input textarea {
  background: transparent;
}

@mixin page-container($height:'auto') {
  background-color: $medium-brick;
  width: 100%;
  height: $height;
}

.page-background{ @include page-container(); }

.page-container{ @include page-container(92vh); }

p, textarea, input, a, font-awesome-icon{
  color: $text-white;
}

.header-text-container{
  justify-content: space-around;
  padding: 20px;
  p:first-child {
    font-weight: bold;
  }
  p {
    font-size: $textFontSize;
  }
}

@mixin user-input{
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #C81928;
  margin: 40px;
  color: $text-white;
}

textarea{
  @include user-input;
  width: $formContentWidth;
}

input{ @include user-input; }


button {
  background-color: #C81928;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $buttonFontSize;
  margin-bottom: 15px;
  width: $formContentWidth;
}

.checkbox-text {
  color: $border-gray;
  margin: 10px;
}
