@import './src/assets/scss/main/_color-variables.scss';
@import './src/assets/scss/main/_size-variables.scss';

.page-container {
  text-align: left;
}

button {
  margin: 0 auto;
  border: 1px solid $text-white;
  background: transparent;
  color: $text-white;
  font-size: $buttonFontSize;
}

.button-container {
  background: $light-brick;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  color: $dark-brick;
  display: inline-block;
  font-size:4vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  h1:first-child {
    color: $light-brick;
  }
}

img {
  border-radius: 50%;
  width: 100%;
}

.profile-holder {
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 15%;
}
