<template>
  <div id="" class="page-container">
    <headerrow/>
    <contactform/>
    <contactdetails/>
  </div>
</template>

<script>
import contactform from '../components/contact/ContactForm'
import headerrow from '../components/contact/HeaderRow'
import contactdetails from '../components/contact/ContactDetails'
export default {
  name: 'about',
  components: {
    contactform,
    headerrow,
    contactdetails
  }
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/contactform/main.scss';
@import './src/assets/scss/main/main.scss';

</style>
