<template>
  <div class="">
    <div class="content-holder">
      <introduction/>
      <div class="profile-holder">
        <profile
        v-for="(activity, index) in profile" :key="index"
        :text="activity"
        />
      </div>
    </div>
      <div class="button-container">
        <button type="button" @click="$router.push('kapcsolat')">árajánlatot kérek</button>
      </div>
  </div>
</template>

<script>
import introduction from '../components/index/IntroductionBox'
import profile from '../components/index/OurProfile'
export default {
  name: 'index',
  components: {
    introduction,
    profile
  },
  data: () => ({
    profile: [
      'Web és webapp fejlesztés',
      'iOS és Android app fejlesztés',
      'Webshop készítés és üzemeltetés',
      'Backend fejlesztés',
      'UX/UI design',
      'Üzemeltetés, support'
    ]
  })
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/index/main.scss';
@import './src/assets/scss/main/main.scss';

</style>
