<template>
  <div class="page-background">
    <div class="form-holder">
      <input type="text" name="" value="" placeholder="Név*" v-model="request.name">
      <input type="text" name="" value="" placeholder="Email*" v-model="request.email">
      <input type="text" name="" value="" placeholder="Telefon*" v-model="request.phone">
      <textarea name="name" rows="8" cols="80" placeholder="Üzenet, ajánlatkérés, kérdés" v-model="request.message"></textarea>
      <div class="checkbox-text row">
        <input type="checkbox" v-model="check"> <span>Elfogadom az <a href="https://myitsolver.com/cookie.html" target="blank">üzletszabályzatot</a></span>
      </div>
      <p>{{msg}}</p>
      <button type="button" class="" @click="_sendContactRequest_" :disabled="!check">Üzenet küldése</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactForm',
  data: () => ({
    request: {
      name: '',
      email: '',
      phone: '',
      message: ''
    },
    check: false,
    msg: ''
  }),
  methods: {
    async _sendContactRequest_ () {
      let response
      try {
        response = await this.$helpers.sendNewRequest(this.request)
        this.msg = response.msg
        this.request = {
          name: '',
          email: '',
          phone: '',
          message: ''
        }
      } catch (e) {
        console.error('[components][contact][ContactForm][_sendContactRequest_]', e)
        this.msg = e.msg
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/contactform/main.scss';
</style>
