<template>
  <div class="page-background header-text-container">
    <div class="contact-holder">
      <a href="mailto:info@myitsolver.com">
      <font-awesome-icon icon="envelope"/>
        info@myitsolver.com
      </a>
    </div>
    <br>
    <div class="contact-holder">
      <font-awesome-icon icon="phone" :style="{ color: 'white' }"/>
      <a href="tel:36202116784">
        <i class="fa fa-envelope-o"></i>
        +36202116784
      </a>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import './src/assets/scss/components/contactform/main.scss';
</style>
