<template>
  <div class="page-background">
    <div class="header-text-container row">
      <p>kapcsolat.</p>
      <p>Kérdésed van?</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactForm',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/contactform/main.scss';
</style>
