<template>
  <div class="content-holder">
    <b-navbar toggleable="lg" type="light" variant="light" class="navbar-custom">
      <!-- <b-navbar-brand >NavBar</b-navbar-brand> -->
      <img src="../assets/logo.png" alt="MyITSolver logo" class="img-thumbnail" style="width:15%; height: auto">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav  style="margin: 0 auto">
          <b-nav-item>
            <router-link tag="li" to="/">
              Kezdőlap
            </router-link>
          </b-nav-item>
          <!-- <b-nav-item>
            <router-link tag="li">
              Szolgáltatásaink
            </router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link tag="li">
              Referenciák
            </router-link>
          </b-nav-item> -->
          <b-nav-item>
            <router-link tag="li" to="/kapcsolat">
              Kapcsolat
            </router-link>
          </b-nav-item>
          <!-- <b-nav-item>
            <router-link tag="li">
              Partnereink
            </router-link>
          </b-nav-item> -->
        </b-navbar-nav>
      </b-collapse>

    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'TopNavbar',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style lang="scss" scoped>
@import './src/assets/scss/main/main.scss';
</style>
