@import './src/assets/scss/main/_size-variables.scss';
@import './src/assets/scss/main/_color-variables.scss';

.content-holder{
  width: $ContentWidth;
  margin: 0 auto;
}

.navbar-custom {
  background-color: $text-white !important;
}
