<template>
  <div id="app">
    <TopNavbar/>
    <router-view></router-view>
  </div>
</template>

<script>
import TopNavbar from '../src/components/TopNavbar'
export default {
  name: 'app',
  components: {
    TopNavbar
  }
}
</script>

<style lang="scss">
@import './src/assets/scss/main/custom-bootstrap.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
