<template>
  <div class="">
    <div id="" class="page-container">
      <h1>Web- és Appfejlesztés <h1>.</h1></h1>
      <h3>Miért a minket válassz ha fejlesztetni szeretnél? </h3>
      <p>Mi, a MyITsolvernél olyan digitális termékeket tervezünk és kivitelezünk, amelyek okosak,
        kedvező árúak és könnyen skálázhatóak. Elképzeléseid alapján megértjük a felhasználóid
        igényeit és teljeskörű szolgáltatásainkkal segítjük céged értékteremtő tevékenységét.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'introduction-box'
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/index/main.scss';
</style>
