<template>
  <div class="profile">
    <img src="../../assets/placeholder.png" alt="kep a tevekenysegunkhoz">
    <p>{{text}}</p>
  </div>
</template>

<script>
export default {
  name: 'our-profile',
  props: {
    text: {
      validator: function (value) {
        return value !== ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import './src/assets/scss/components/index/main.scss';
</style>
